<%- include ("../_sections/_header.ejs"); %>

<!-- TODO: Allow remember me to save login credentials in local storage  -->
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="panel panel-default login-panel bg-light rounded shadow-lg">

      <div class="panel-heading">
        <h3 class="mb-4 mt-4 text-center">Log In</h3>
      </div>
      <div class="panel-body ">
        <form class="form-signin " method="POST" action="/login">
          <div class="form-group">
            <input type="email" name="email" class="form-control my-4" aria-describedby="emailHelp"
              placeholder="Enter email">
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control my-4" placeholder="Password">
          </div>
          <div class="form-check mt-4 mb-4">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label " for="exampleCheck1">Remember me</label>
          </div>
          <div class="login-btns my-4 text-center">
            <input type="submit" class="btn btn-primary " value="Log In" />
            <a class="btn btn-secondary mr-4 " href="/signup">Sign Up</a>
          </div>
          <div class="text-center "><a class="text-decoration-none" href="#">Forgot password</a></div>
        </form>
      </div>
    </div>
  </div>

  <style>

  </style>

<%- include ("../_sections/_footer.ejs"); %>