<nav class="navbar navbar-expand-lg navbar-dark bg-black py-3 sticky-top">
    <div class="container-fluid px-5">
        <div id="nav-brand" class="d-flex justify-content-between  d-block" style="height: 40px">
            <!-- <button class="btn text-white px-1 py-0 sidebar-btn"><i class="fal fa-stream"></i></button> -->
            <img src="/assets/icon.png" alt="Brand Icon" class="navbar-brand-icon">
            <a class="navbar-brand" href='/'>Fluxion</a>

        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/features">Features</a>
                </li>
                <% if(!currentUser) { %> 
                <li class="nav-item">
                    <a class="nav-link btn btn-primary rounded-pill mx-5" id="nav-try-btn" href="/try-now">
                        Try it now
                    </a>
                </li>
                <% } %>
                
            </ul>

            <ul class="navbar-nav ms-auto">

                <% if(currentUser !=null) { %>
                    <li class="nav-item"><a class="nav-link">Welcome <%= currentUser.username %>!</a></li>
                    <li class="nav-item"><a href="/logout" class="nav-link" id="login-btn">Logout</a></li>
                    <% } %>

                        <% if(currentUser==null) { %>
                            <li class="nav-item"><a href="/login" class="nav-link" id="login-btn">Login</a></li>
                            <li class="nav-item"><a href="/signup" class="nav-link" id="login-btn">Sign-up</a></li>
                            <% } %>
            </ul>
        </div>
    </div>
</nav>