    <div class="sidebar text-white active" id="side-nav">
        <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
            <h1 class="fs-4"><span class="text-dark rounded shadow px-2 mm-2"></span></h1>
            <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="fal fa-stream"></i></button>
        </div>
        <ul class="list-unstyled px-2">
            <li class="active"><a href="#" class="text-decoration-none px-3 py-2 d-block "><i class="fal fa-home"></i> Dashboard</a></li>
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block "><i class="fal fa-list"></i> Projects</a></li>
            <li class=""><a href="#" class="text-decoration-none d-flex justify-content-between px-3 py-2 d-block">
                    <span><i class="fal fa-comment"></i> Messages</span>
                    <span class="bg-dark rounded-pill text-white py-0 px-2">02</span>
                </a></li>
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block "><i class="fal fa-envelope-open-text"></i> Services</a>
            </li>
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block "><i class="fal fa-users"></i> Customers</a></li>
        </ul>
        <hr class="h-color mx-2">

        <ul class="list-unstyled px-2">
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block "><i class="fal fa-bars"></i> Customers</a></li> 
            <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block "><i class="fal fa-ball"></i> Notifications</a></li> 
        </ul>
    </div>