<%- include ("../_sections/_header.ejs"); %>


    <section class="m-auto my-5 text-center">
        <h1 class="">Fluxion Features</h1>
    </section>
    <div class="my-5">
        <h3 class="feature-name" id="chat-logs">Chat Logs</h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="my-5">
        <h3 class="feature-name" id="chat-points">Chat points</h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="my-5">
        <h3 class="feature-name" id="leaderboards">User Leaderboards</h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="my-5">
        <h3 class="feature-name" id="online-games">Let users play games online while they gift you </h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="my-5">
        <h3 class="feature-name" id="like-gift-follow">Like, Gift, Follow</h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="my-5">
        <h3 class="feature-name" id="direct-interactions">Direct Interactions</h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="my-5">
        <h3 class="feature-name" id="other">other</h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat fuga amet voluptatem quaerat
        distinctio ipsa dolorem officiis voluptatum unde. Aut atque architecto in pariatur, neque inventore rem
        blanditiis quas odio laudantium fuga et commodi repellat quae aliquid a quam non delectus quia eos. Commodi
        dolore voluptas beatae, consequuntur, soluta magni cumque tempora ducimus, dolorem ex vero quas a numquam.
        Expedita nulla maxime harum nisi dignissimos quasi ea ad porro iure deleniti minima molestias esse quis voluptas
        atque, itaque nostrum asperiores perferendis consequatur dicta eius! Consequatur sequi excepturi id, modi facere
        architecto nisi sint sapiente, repellendus esse ratione doloribus dolorum laudantium molestias quo, recusandae
        deleniti asperiores natus officia neque illum aspernatur placeat ut veniam. Eligendi, earum illum. Possimus eius
        voluptas praesentium earum non placeat expedita nostrum dolores quisquam nisi omnis ipsa, voluptatum ducimus
        facere vel perspiciatis! Eligendi, distinctio. Aut recusandae saepe natus totam fugiat ipsam soluta aspernatur
        cum minima nobis porro, nemo sequi neque doloremque vel ratione harum perferendis animi consectetur reiciendis
        aliquam similique, assumenda quisquam iusto! Cumque exercitationem, aut at vitae officiis, nemo eius nam,
        voluptates officia eligendi incidunt assumenda aperiam aspernatur quo repudiandae. Quis delectus id, obcaecati
        voluptatibus dolorem vel deleniti. Sint ratione dolorum voluptas nesciunt est, vel temporibus dolore iure odit,
        quis repudiandae consequuntur natus, omnis itaque suscipit possimus consequatur libero ipsum cupiditate? Ratione
        perspiciatis nam animi repellendus minus, sint totam veniam sunt magnam laudantium cumque eligendi facilis nisi
        nesciunt sed pariatur ea iusto possimus? Delectus sit fugit officiis blanditiis? Rem quam similique minima
        culpa! Ducimus tempora nisi rem mollitia. Molestiae enim animi totam dicta et. Provident quas, veritatis
        corrupti illum minima vitae assumenda quibusdam ullam sequi cum architecto dolorem aut adipisci, natus quia hic
        optio neque commodi dolor at quidem labore et pariatur. Unde autem veniam quod quidem quasi ullam amet
        accusamus, optio nemo. Quidem id eaque omnis, non voluptas ab debitis provident illum repellendus odio, eligendi
        quo beatae deleniti quis dolores rem sunt soluta corporis molestias asperiores pariatur! Nesciunt eum fugiat
        fugit vitae doloremque, aspernatur aliquid, eaque laboriosam deleniti porro voluptates laborum labore numquam
        repudiandae similique ipsam. Distinctio sapiente fuga voluptatem! Cumque ab voluptatum ullam deleniti, tempora
        sunt sit ipsa? Esse dolorum iure aliquid molestias expedita, eligendi quisquam adipisci reprehenderit vero
        inventore dolore tenetur at maiores deserunt! Ad rem accusantium quo totam suscipit quisquam, illum voluptas.
        Aperiam deleniti consectetur expedita quasi est delectus odit magni nulla ab illum ipsam impedit velit sint
        iusto optio provident laborum itaque odio dolores, repellendus tempore in. Iusto suscipit rem repellendus,
        quidem culpa veritatis, deserunt voluptas quae commodi architecto omnis. Numquam dolorum, incidunt repellat
        mollitia, voluptatem fuga reprehenderit facere veniam voluptate aliquid at error perspiciatis commodi veritatis
        eos. Possimus expedita asperiores excepturi nostrum neque odio repellendus, ex temporibus quaerat architecto,
        deserunt voluptatibus. Quis voluptatibus iure explicabo recusandae, ad, officiis quod eligendi aliquam vitae
        blanditiis, ipsum impedit? Eum, odio! Sunt aliquam rerum, minus eligendi quidem deserunt veniam facilis.
        Voluptatem doloribus ad, impedit quia amet quod aliquid harum molestias, est consequatur alias distinctio
        ratione quam cum nostrum culpa possimus nulla consectetur itaque ullam! Veritatis sed laborum animi reiciendis
        vel ullam facilis molestias velit vero! Nobis eius magnam at laborum sit eos esse ex voluptatem, aperiam odit
        similique dignissimos aspernatur tempora rem sequi? In quod asperiores ex id laudantium magni eaque ipsam
        sapiente porro illum, nesciunt deleniti. Alias impedit reiciendis sequi placeat totam doloribus delectus
        perspiciatis laborum deleniti, voluptate odit blanditiis fugit voluptatibus ducimus quis dicta ratione
        voluptatem suscipit aliquid non et consequuntur! Iure id similique vel dolorum dignissimos dolores et obcaecati
        sint repellendus non consequatur aut odit doloribus voluptatum dolorem iste veritatis suscipit recusandae,
        saepe, nobis debitis quae. Praesentium, illum veritatis maiores pariatur nostrum beatae. Architecto dolorem
        rerum dolorum officiis distinctio amet quia, alias neque nemo delectus quas vitae labore repellat minus itaque
        numquam commodi dolor. Officia atque repellat praesentium labore ipsum reprehenderit excepturi quibusdam
        pariatur vitae quia officiis cum necessitatibus earum velit fugit dignissimos dolorem harum, unde, totam
        voluptatum? Sint minima suscipit labore reprehenderit vitae ipsam possimus veniam, exercitationem, optio quasi
        aliquam velit nemo inventore aliquid repudiandae tempora nostrum impedit, tempore beatae odio porro. Rerum quam,
        natus, voluptas odit iure reprehenderit odio nam eius quibusdam unde possimus tenetur libero magni commodi
        voluptates molestias consequatur pariatur delectus. Quas odio adipisci consectetur neque corrupti nostrum,
        inventore incidunt minus quidem mollitia cupiditate natus id voluptatem dolores voluptas tempore eaque, iste,
        facilis quis harum! Eveniet molestiae hic sequi dolore. Culpa necessitatibus cupiditate doloribus rem. Non rem,
        pariatur eos quis repellat a explicabo optio facere deleniti perspiciatis maxime quod modi laborum. Totam esse
        similique vitae quibusdam dicta corrupti non temporibus minus ad earum magnam atque rem porro, beatae quam velit
        amet consequatur autem? Numquam accusantium a, illum sint natus laudantium! Pariatur in odit cum, repudiandae et
        voluptatem numquam ipsum, cupiditate, porro mollitia iusto iste nemo ad explicabo quaerat deleniti. Aut sequi
        laboriosam excepturi distinctio deserunt id dolore. Optio possimus neque, ipsum, quo sed provident veritatis
        molestias quis tempore nihil molestiae quaerat culpa natus dolore fugit doloribus voluptas ducimus voluptatibus
        modi nisi? Alias, deserunt rem ab minima magnam, sapiente necessitatibus deleniti laudantium quia modi placeat
        incidunt nobis sequi. Repudiandae totam quaerat cumque eum dolor labore velit ipsam veritatis sapiente in
        assumenda eligendi soluta quo aliquid dolorem necessitatibus atque harum fugit, illum perferendis. Ipsum numquam
        quia sint nulla consequatur, sequi accusamus perferendis asperiores assumenda quis at! Tempora debitis magni
        sunt dolorem soluta ad voluptatibus itaque distinctio, cumque velit totam in, explicabo minima dolor illo
        inventore, temporibus repellendus doloribus consequuntur vitae et. Minus explicabo facere laudantium eligendi
        cumque sapiente quia deserunt accusamus dolore ratione praesentium culpa repellat tenetur, incidunt consequuntur
        excepturi repellendus fugiat vitae voluptatem veritatis voluptate recusandae soluta. Quam unde nesciunt ullam
        delectus veniam libero voluptate? Rem repellat accusamus, quis nihil cum hic vitae corrupti quam itaque
        expedita, eum adipisci molestias animi quos! Est molestias eligendi explicabo! Nemo odio doloribus corporis
        voluptatibus id consequuntur voluptates, eveniet in minima molestias quam autem distinctio dicta. Libero facere
        laborum odit ut? Modi, iure. Reprehenderit nisi, at incidunt adipisci doloremque expedita. Consectetur
        laboriosam atque nostrum nesciunt ullam voluptate, iusto quae expedita impedit distinctio sit laudantium harum
        obcaecati sequi accusamus enim facere minima odio! Dolorum error temporibus repellat quis incidunt maiores
        repudiandae! Tenetur magni, quod officia ipsam sunt illum beatae fugit aperiam quaerat non, ab amet excepturi
        sequi culpa animi voluptatibus fugiat neque suscipit. Minima neque sit vel rem voluptas id quam dolorum quas et
        tempore cumque dolores magnam officiis, perspiciatis ea perferendis, ipsa doloribus quibusdam magni ad error
        illo! Illum, nulla numquam pariatur, asperiores perspiciatis explicabo ex ipsa molestias assumenda veritatis
        provident qui doloribus blanditiis, in minus repellendus praesentium placeat. Dolorem, delectus ipsam. Illum
        esse nesciunt aliquid culpa omnis repellat illo accusamus explicabo velit architecto qui beatae, odit enim
        voluptatum! Aliquid maiores quisquam ut eveniet fugiat modi obcaecati suscipit quae praesentium ducimus vitae ea
        repellat blanditiis veritatis animi repellendus, quod error exercitationem quaerat provident, vel ratione
        voluptas. Consectetur ipsa esse repellendus voluptatem numquam. Optio tempora nulla consequuntur officiis quidem
        asperiores earum impedit vel, doloribus delectus excepturi, quisquam animi. Nisi magnam provident voluptates
        veritatis optio? Exercitationem repudiandae rem enim delectus! Nam, facilis deleniti. Culpa laudantium sit
        commodi placeat iste non iusto quos architecto provident unde! Eos, ab nam magnam architecto velit obcaecati
        neque sint et recusandae consequatur earum cupiditate repellendus autem repellat non natus consequuntur iste cum
        voluptate quo inventore doloribus tempora nisi tempore? Recusandae minima atque laboriosam quas, a est
        voluptatibus dolores tenetur. Deleniti nisi repellendus magnam sit repellat nobis veniam obcaecati impedit unde?
        Cum doloremque enim optio odit praesentium commodi, deserunt reprehenderit natus nostrum nam vero quis
        laboriosam in obcaecati perferendis cumque fuga saepe ea, dolorem pariatur, nulla voluptatibus. Iure, vero eius
        ut architecto cumque a. Soluta pariatur vero temporibus accusantium, sapiente laudantium impedit! Optio iste ab
        repudiandae laborum quam repellendus alias adipisci, ex quas, enim libero totam recusandae qui cum in. Culpa
        laboriosam praesentium, expedita reprehenderit pariatur id. Corrupti quas ea ipsam sunt dolorem fuga quia,
        ratione totam ab dicta odio natus eos molestias reprehenderit explicabo qui error ducimus vel architecto
        voluptatibus libero repellendus? Fugiat quas labore sed reprehenderit nulla vero ut ipsam et sint. Cupiditate ea
        quos vero qui rerum iste ad ipsa perferendis? Repellat, laboriosam repudiandae saepe explicabo aperiam omnis
        maiores accusantium, deserunt autem numquam corporis consectetur a perspiciatis dolores voluptatibus
        reprehenderit. Itaque ipsum tempora quibusdam! Officiis non alias earum ipsum nulla pariatur minima repellendus
        ad rem maiores et mollitia fugit nam numquam vero illum, ducimus eligendi tenetur quis repudiandae unde dolorum
        facere totam perspiciatis. Tempore earum accusantium architecto quaerat, corrupti obcaecati officiis rerum.
        Nobis ea explicabo architecto. Esse fuga est harum illo vitae, voluptates deserunt nesciunt eligendi libero!
        Perspiciatis assumenda voluptatum sunt doloribus possimus. Libero facilis ratione voluptas aliquid debitis!
        Nulla dicta nobis officiis dolore vel assumenda laboriosam similique, sit eaque quidem neque, molestias
        asperiores laborum quo accusantium quibusdam excepturi qui non quia. Nemo, exercitationem dolorem aliquid vitae
        animi minima placeat perferendis eligendi earum porro consectetur? Eveniet rerum voluptatem vero, officiis fuga
        cumque dignissimos repellendus non quis, dicta quos dolor est explicabo harum assumenda! Laboriosam sapiente,
        asperiores quidem maxime saepe, officiis perferendis nulla nisi eum est voluptatem tenetur voluptates harum modi
        similique excepturi possimus ducimus! Officia, molestias eveniet amet incidunt debitis atque! Odit aliquid ipsam
        illum et maiores quia ab, sequi pariatur voluptas error labore porro quibusdam, fuga voluptatibus placeat autem
        officiis delectus facere illo nemo. Reiciendis, doloribus? Distinctio reprehenderit, totam minus labore, veniam
        dicta est ad illo officia obcaecati in quos cum incidunt vel dolorum. Iusto commodi reiciendis suscipit totam
        illo, ipsa molestiae ipsum, quibusdam, animi voluptate id fugiat repellendus corporis necessitatibus. Odit fuga
        quae quod esse officia illum, veniam tempore debitis reiciendis, quas aliquam qui quasi aliquid consequatur
        vero, atque laboriosam sequi animi! Optio itaque in exercitationem magnam recusandae earum expedita ipsam id
        molestias animi suscipit, velit dignissimos atque excepturi eius cumque necessitatibus pariatur. Quidem
        inventore sunt assumenda. Dolorem, velit illo natus laborum repudiandae, nobis fuga tempora impedit voluptatem
        magnam officiis soluta eum ipsam nihil ad incidunt error possimus sint, quaerat aperiam. Odit, eaque similique
        eos necessitatibus doloribus explicabo, facilis architecto magni, tempora ratione totam voluptatem dolor error
        minus consequatur. Asperiores possimus quis vitae animi magnam molestiae. Temporibus ad ipsa, eligendi hic qui
        fuga accusamus. Accusantium porro quisquam assumenda obcaecati illum culpa aliquid numquam, nostrum quas
        consequuntur sapiente tempora. Alias sed, expedita ducimus libero quaerat odit temporibus sequi. Officia, labore
        nam omnis laboriosam perferendis placeat est aliquid iusto. Quibusdam, neque voluptatum repudiandae consectetur
        eveniet accusamus error quas nulla similique ipsa quo doloribus molestiae aperiam maiores rem delectus
        recusandae velit repellat ad dolorum at sed enim accusantium natus. Rem, ipsa. Voluptatem explicabo nesciunt et
        quibusdam. Corporis rerum amet neque vitae animi, nisi nam error sint quo ex non. Saepe quas possimus in modi
        repudiandae aliquam alias cum dolorum exercitationem ducimus? Eos ipsa nesciunt cupiditate, voluptatibus vero
        quaerat in quia molestias tempora, quos, corporis tempore rerum soluta dolorum! Accusamus voluptate aliquam
        tempora, ducimus maiores eligendi. Accusamus repellendus magnam illum asperiores quis error dignissimos ipsa. At
        consectetur numquam hic quod quasi ut doloremque nam mollitia? Sint veritatis rem ducimus architecto nisi unde
        consectetur soluta cum, expedita nostrum neque doloremque sapiente minima nesciunt animi excepturi veniam quod
        harum ex inventore. Atque similique distinctio obcaecati iure! Reiciendis in placeat alias quam accusantium
        inventore facilis odio. Consectetur nemo dolorum temporibus debitis consequatur corporis quae aperiam, qui
        beatae, porro similique ipsum est fuga pariatur, iste sit repellendus molestias doloribus? Sapiente est nostrum
        error reprehenderit praesentium quas eum blanditiis adipisci ex eaque vitae harum vero, quibusdam atque mollitia
        cupiditate optio delectus nihil modi labore exercitationem laborum! Ex vero laborum eum possimus sint fuga
        tenetur animi dolorem minima pariatur culpa, recusandae sit consequuntur nulla eos qui dicta odit. Aliquam
        cumque modi asperiores, harum veniam a quas laboriosam voluptatem, expedita adipisci tenetur rem. Illo, fugit
        reiciendis! Quisquam pariatur iure odio accusantium itaque nulla tempore molestiae molestias possimus suscipit
        numquam dolore alias enim, expedita ab earum ullam delectus commodi officiis. A nostrum recusandae cupiditate
        iste nesciunt saepe, eum consectetur quae mollitia eaque voluptate veniam quos aperiam ad excepturi neque quia,
        deserunt rem, vel impedit! Saepe, hic praesentium nesciunt natus rem tempora nisi earum sed voluptatibus,
        perspiciatis consequuntur accusamus, cumque asperiores maiores! Nihil deserunt enim incidunt similique
        architecto aliquid. Nisi itaque excepturi eum totam! Autem cupiditate impedit quod dignissimos totam voluptas
        suscipit quos? Voluptate molestias soluta voluptatem veritatis voluptatibus nam nesciunt. Dolorum expedita ut
        veniam. Nam iure suscipit placeat quae quod odit delectus, consectetur, quas non incidunt deserunt. Tempora
        necessitatibus alias, dignissimos expedita asperiores beatae aliquam amet blanditiis. Iure id ipsum architecto
        tempora velit sapiente ratione eaque pariatur magnam ex, necessitatibus facere quasi vel cum adipisci aperiam
        provident, veniam deserunt eum eius. Animi dolores nobis praesentium veniam laborum odio quidem voluptatibus
        dolor hic. Quos enim aperiam, delectus nobis libero eius sequi explicabo, tenetur officia recusandae voluptatem
        debitis, ea illo similique exercitationem asperiores laborum eum eligendi iusto distinctio ducimus tempora!
        Cumque, aut nam officiis suscipit consequatur ut dolorem incidunt veritatis distinctio corporis non quam facilis
        in illo assumenda voluptates adipisci voluptate, obcaecati provident, accusamus eveniet praesentium ipsum
        maiores. Magnam optio illum repellendus ullam. Ea vero rerum aliquam eius voluptas adipisci quisquam ratione hic
        mollitia quibusdam vel nihil, enim consectetur quidem error fugiat deserunt laudantium dolore consequuntur non
        officiis repellendus. Quibusdam id obcaecati molestiae, aliquam distinctio consequuntur illo, corporis
        cupiditate dolores suscipit, modi deserunt eveniet! Porro a, consequatur fugit inventore incidunt pariatur quia
        magnam rerum accusamus perferendis obcaecati optio dolor eius ad quae. Corporis sit et animi iusto quasi ullam
        impedit totam atque quos, delectus eveniet vitae, in tempora nulla aliquid deleniti culpa maxime quas, at alias
        tempore harum velit minus. Necessitatibus repellendus reprehenderit laborum sunt dolorum minima ullam,
        praesentium illum quo at, distinctio ab temporibus sapiente libero ut recusandae corrupti! Ut vitae quos dolorum
        nihil, at molestias, cupiditate delectus quam libero beatae similique omnis inventore ducimus soluta numquam
        esse? Eius harum quibusdam neque dolorum esse quaerat perferendis, consectetur qui repellendus ab laudantium
        quas eum. Reprehenderit odio, tempore corrupti laborum animi perspiciatis blanditiis enim voluptas sint fuga
        repellat dicta unde aspernatur natus illo molestiae est, sit maiores numquam iure non error et. Assumenda
        temporibus sit earum pariatur quia quaerat aliquam quasi natus quis ut, modi et officiis asperiores debitis
        recusandae quas aperiam quibusdam, magni aspernatur est repudiandae, beatae sint fugiat! Incidunt, dolore
        assumenda cupiditate perspiciatis et amet distinctio earum temporibus iure fuga laboriosam dignissimos neque
        veritatis dolorum ad similique recusandae id illo, est quae minus. Atque iusto alias quod odit deserunt
        consequatur modi velit nobis voluptates asperiores, laboriosam consectetur, placeat excepturi, vel neque
        laudantium quisquam perspiciatis maiores molestiae libero. Veritatis sed labore placeat voluptatibus accusantium
        eaque nisi dicta qui obcaecati. Incidunt quidem aperiam dolorem libero sequi dolor blanditiis eveniet earum amet
        reprehenderit, consequatur corrupti architecto at eius impedit alias iusto quaerat hic non tempore quis sit
        vero. Reiciendis atque itaque dicta magnam doloremque perferendis odio dolor sed ipsa, quos quasi id nam,
        dolorum ducimus enim est corporis? Odit vitae enim ducimus illum distinctio perspiciatis dolorum vel voluptate
        quod aperiam asperiores labore inventore at obcaecati dignissimos tenetur optio pariatur sit officia, natus
        aliquid, dolor nobis. Suscipit voluptas in corrupti optio natus cumque cupiditate dicta iure laudantium illo.
        Architecto, laboriosam ex. Iste?</div>

    <%- include ("../_sections/_footer.ejs"); %>