<%- include ("../_sections/_header.ejs"); %>


    <section class="m-auto my-5 text-center">
        <h1 class="">Fluxion Features</h1>
    </section>
    <div class="my-5">
        <h3 class="feature-name" id="chat-logs">Chat Logs</h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="my-5">
        <h3 class="feature-name" id="chat-points">Chat points</h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="my-5">
        <h3 class="feature-name" id="leaderboards">User Leaderboards</h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="my-5">
        <h3 class="feature-name" id="online-games">Let users play games online while they gift you </h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="my-5">
        <h3 class="feature-name" id="like-gift-follow">like-gift-follow</h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="my-5">
        <h3 class="feature-name" id="direct-interactions">direct-interactions</h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="my-5">
        <h3 class="feature-name" id="other">other</h3>
        <p class="feature-description my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo laborum neque
            rem
            sapiente, itaque dolore odit dolorem eum voluptatem minus! Ullam nobis quo voluptatibus. Doloribus.</p>
    </div>
    <div class="" style="line-height: 15">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, eveniet
        voluptate eligendi reiciendis earum eos fugit dolor, alias asperiores excepturi hic atque? Vero minus
        accusantium deleniti minima ipsam, sint quisquam dolorem debitis totam quo quas nam rem ullam nobis doloremque,
        magni perferendis pariatur maxime nihil consequuntur assumenda nisi. Autem laboriosam illo fuga aut provident,
        tempore, eaque debitis unde commodi optio explicabo maxime placeat. Tempore veniam officia, ex suscipit sequi
        repellat quia temporibus aut? Tempore distinctio tempora iste repellendus vero veritatis unde fugit quasi facere
        quod! Suscipit doloribus aut consectetur quia quam magnam nemo fugiat repudiandae. Voluptate temporibus nostrum
        iste molestiae, sequi, dicta laboriosam, qui voluptas alias unde officia repellat ut esse! Aperiam maiores
        aspernatur vel incidunt maxime facere nulla veritatis repellendus nisi quas voluptas molestias assumenda
        mollitia, cupiditate saepe, doloremque possimus, blanditiis corporis sequi omnis asperiores esse optio
        distinctio dignissimos? Iste, modi sed saepe error aut qui reiciendis dolorum voluptates.</div>

    <%- include ("../_sections/_footer.ejs"); %>