<%- include ("../_sections/_header.ejs"); %>

<section>
    <h1>Directions for app: </h1>
    <ol class="list-group list-group-numbered ">
        <li class="list-group-item bg-black text-white"><a href="#" class="text-decoration non">aaa</a></li>
        <li class="list-group-item bg-black text-white"><a href="#" class="text-decoration non">aaa</a></li>
        <li class="list-group-item bg-black text-white"><a href="#" class="text-decoration non">aaa</a></li>
        <li class="list-group-item bg-black text-white"><a href="#" class="text-decoration non">aaa</a></li>
    </ol>
</section>

<style>
    body {
        background-color: black;
        color: white;
    }
</style>

<%- include ("../_sections/_footer.ejs"); %>
