<%- include ("../_sections/_header.ejs"); %>
<section class="hero-section m-auto my-5 text-center">
    <h1 class="hero-title"> Welcome to Fluxion, <br> the best site for TikTok Live ™ </h1>
    <h3 class="hero-subtitle"> Fluxion offers TikTok Live users a way to be interactive with their audience.</h3>
    <a href="/try-now" class="btn rounded-pill btn-primary hero-action-btn mt-3 p-3">Try it now</a>
</section>
<hr class="my-5">

<section class="feature-container my-5 ">
    <h2 class="mt-5 text-center">Growing your community made easy with Fluxion. </h2>
    <h2 class="mb-5 text-center">We have a variety features all which are fully customizable.</h2>
    <h3 class="feature-header">Current features: </h3>
    <ul class="feature-list">
        <li class=""><a href="/features#chat-logs" class="text-decoration-none">Access to chat logs</a></li>
        <li class=""><a href="/features#chat-points" class="text-decoration-none">Users can accumulate points by chatting</a></li>
        <li class=""><a href="/features#leaderboards" class="text-decoration-none">Leaderboards</a></li>
        <li class=""><a href="/features#online-games" class="text-decoration-none">Chat interactive online games</a></li>
        <li class=""><a href="/features#like-gift-follow" class="text-decoration-none">Like/Gift/Follow notifications/interactions</a></li>
        <li class=""><a href="/features#direct-interactions" class="text-decoration-none">Direct chat and host interactions**</a></li>
        <li class=""><a href="/features#other" class="text-decoration-none">And so much more!</a></li>
    </ul>
</section>



<%- include ("../_sections/_footer.ejs"); %>