<%- include ("../_sections/_header.ejs"); %>
    <section class="big-section">

        <h1 class="text-white header my-5">Fill out information:</h1>

        <form action="/app" method="POST" class="text-white">
            <label for="username">Enter TikTok username</label>
            <input type="text" name="username" id="username" class="form-control" />

            <div class="select-div d-flex align-items-center my-3 py-5">
            <label class="mt-5" for="main-feature">Select main feature</label>
                <select name="main-feature" class="form-select" id="main-feature">
                    <option value="select-option"></option>
                    <option value="online-game">Online Game Connect</option>
                    <option value="direct">Direct Connect</option>
                    <option value="other">Other Features</option>
                </select>
            </div>
            <div class="feature-options" style="width: 50%">
                <div class="small-option my-4">
                    <label class="switch">
                        <input type="checkbox" name="chat-logs" id="chat-logs" />
                        <span class="slider rounded-pill"></span>
                    </label>
                    <label for="chat-logs">Access to chat logs</label>
                </div>
            </div>
            <div class="small-option my-4">
                <label class="switch">
                    <input type="checkbox" name="chat-points" id="chat-points" />
                    <span class="slider rounded-pill"></span>
                </label>
                <label for="chat-points">Users can accumulate points by chatting</label>
            </div>
            <div class="small-option my-4">
                <label class="switch">
                    <input type="checkbox" name="leaderboards" id="leaderboards" />
                    <span class="slider rounded-pill"></span>
                </label>
                <label for="leaderboards">Leaderboards</label>
            </div>
            <div class="small-option my-4">
                <label class="switch">
                    <input type="checkbox" name="chat-games" id="chat-games" />
                    <span class="slider rounded-pill"></span>
                </label>
                <label for="chat-games">Small chat games</label>
            </div>
            <div class="small-option my-4">
                <label class="switch">
                    <input type="checkbox" name="positive-input" id="positive-input" />
                    <span class="slider rounded-pill"></span>
                </label>
                <label for="positive-input">Like/Gift/Follow notifications/interactions</label>
            </div>
            <button type="submit" class="btn btn-primary" >Go Live</button>
        </form>
    </section>
    <style>
        body {
            background-color: black;
        }

        .small-option {
            display: flex;
        }
    </style>

    <%- include ("../_sections/_footer.ejs"); %>