<%- include ("../_sections/_header.ejs"); %>
  <div class="big-container">
    <div class="dropdown">
      <label for="grid-length-selector">Change Length: </label>
      <select name="grid-length btn btn-secondary dropdown-toggle" id="grid-length-selector">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>

    <!-- TODO: Make length responsive & add through javascript no ejs -->
    <div class="grid-container">

    </div>
  </div>

  <style>
    .big-container {
      width: 50%;
      margin: 100px auto;
    }

    .big-container .dropdown {
      position: absolute;
      top: 0;
      right: 0;
    }

    .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      width: 60%;
      margin: auto;
    }

    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 10px;
      font-size: 30px;
      text-align: center;
    }
  </style>

  <script>
    const socket = io('http://localhost:3001');

    socket.on('connect', () => {
      console.log('socket connection established');
    })
  </script>

  <%- include ("../_sections/_footer.ejs"); %>