@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500&display=swap");

* {
  font-family: Sora;
}

::selection {
  background-color: rgb(165, 80, 80);
  color: #fff;
}

#side-nav {
  background-color: #000;
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s ease-in-out;
}

.all-content {
  height: 100vh;
  width: 100vw;
}

.content {
  min-height: 100vh;
  width: 100%;
}

hr.h-color {
  background: #eee;
}

.sidebar li.active {
  background: #eee;
  border-radius: 8px;
}

.sidebar li.active a,
.sidebar .li.active a:hover {
  color: #000;
}

.sidebar li a {
  color: #fff;
}

#side-nav {
  margin-left: -250px;
  position: block;
  min-height: 100vh;
  z-index: 1;
}
#side-nav.active {
  margin-left: 0;
}

.hero-section {
  margin: 20px;
  width: 50rem;
}

.feature-list {
  font-size: 1.3rem;
}

section {
  margin: auto;
  max-width: 950px;
}

.small-option {
  position: relative;
}

.select-div {
  width: 40%;
  height: 40px;
}

.select-div select {
  height: 20px;
}


section.big-section input[type="checkbox"] {
  opacity: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  position: relative;
}
