<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Website Test</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" text="text/css" href="/../assets/style.css">
</head>

<body>

    <!-- <style>
        .form-div {
            max-height: 0;
            overflow: hidden;
            transition: all 0.5s ease-in-out;
        }

        form.login-form {
            height: 100%;
            width: 100%;
        }
    </style>
    <script>
        let formBtn = document.querySelector('#login-btn'),
            formDiv = document.querySelector('.form-div');

        formBtn.addEventListener('click', (e) => {
            console.log('cicked');
            formDiv.style = 'max-height: 500px;';
        })
    </script> -->
    <div class="main-container d-flex">
        <% if(currentUser != null) { %>
            <%- include('../_snippets/sidebar.ejs') %>
        <% } %>
            <div class="all-content">
                <%- include('../_snippets/navbar.ejs') %>
                <div class="container">
                <% if(error && error.length> 0) { %>
                    <div class="alert alert-danger m-3" role="alert">
                        <%= error %>
                    </div>
                    <% } %>

                <% if(info && info.length> 0) { %>
                    <div class="alert alert-info m-3" role="alert">
                        <%= info %>
                    </div>
                    <% } %>